<template>
    <div class="card-body" v-chat-scroll>
        <dl class="card-text" v-for="message in messages" v-bind:key="message.id">
            <div v-if="message.user.name === 'Eddy Chirinos'" v-chat-scroll>
                <!-- <dt>{{ message.created_at | fecha}}</dt> -->
                <dd class="pos-left clearfix">
                    <div class="circ"></div>
                    <div class="time">{{ message.created_at | timeago}}</div>
                    <div class="events bg-secondary">
                        <div class="pull-left">
                            <i class="fa fa-4x fa-user-secret mr-2" aria-hidden="true"></i>
                        </div>
                        <div class="events-body">
                            <h4 class="events-heading">{{ message.user.name }}</h4>
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                </dd>
            </div>
            <div v-else v-chat-scroll>
                <dd class="pos-right clearfix">
                    <div class="circ"></div>
                    <div class="time">{{ message.created_at | timeago}}</div>
                    <div class="events bg-secondary">
                        <div class="pull-left">
                            <i class="fa fa-4x fa-user mr-2" aria-hidden="true"></i>
                        </div>
                        <div class="events-body">
                            <h4 class="events-heading">{{ message.user.name }}</h4>
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                </dd>
            </div>
        </dl>
    </div>
</template>



<script>
    moment.locale('es');
    export default {
        props: ['messages', 'incident_id'],

        mounted(){
            this.fetchMessages(this.incident_id);
        },

        methods: {
            fetchMessages(incident_id) {
                axios.get('/messages/api/'+incident_id).then(response => {
                    // this.messages = response.data;
                    this.$emit('update:messages', response.data);
                });
            },
        },

        filters: {
            timeago(value) {
                return moment.utc(value).local().fromNow()
            },
            fecha(value) {
                return moment.utc(value).local().format("MMM YYYY")
            }
    }
  };
</script>
