<template>

    <div class="card-body">
        <div class="form-group">
                <label for="textareaMensaje">Mensaje</label>
                <textarea class="form-control" id="textareaMensaje" rows="3" v-model="newMessage" placeholder="Escribe tu mensaje aqui..." @keyup.enter="sendMessage"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-sm float-right" @click="sendMessage">Enviar</button>
        <button type="button" class="btn btn-secondary btn-sm float-right">Limpiar campo</button>
    </div>
</template>

<script>
    export default {
        props: ['user', 'incidentid'],

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user: this.user,
                    message: this.newMessage,
                    incidentid: this.incidentid
                });

                this.newMessage = ''
            }
        }
    }
</script>
